body{
    margin:0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1535074153497-b08c5aa9c236?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9);
    height: 100vh;
    width:100%;
    background-size: cover;
}
#color-overlay{
    margin: 0;
    padding: 0;
    opacity: 0.8;
    text-align: center;
    color: white;
}
#text-bg{
    line-height: 100vh;
    font-size: 80px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
